@import "./gilroy-semibold.css";
@import "./gilroy-extrabold.css";
@import "./gilroy-light.css";

ul,
li {
  display: block;
  margin: 0;
}
html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
nav {
  Padding: 0 !important;
  Margin: 0!important;  
}
body,
div {
  font-family: "Gilroy-SemiBold";
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

header {
  background-color: #3959e0;
}
.menu__item a {
  padding: 30px 30px;
  background: #3959e0;
  color: #fff;
  font-size: 14px;
  border-left: 1px solid #3251d2;
  display: block;
}
.menu__item a:hover {
  background-color: #3251d2;
  color: white;
  text-decoration: none;
}
.menu__item__orange a:hover {
  color: black;
}

.menu__item__orange a {
  background-color: #ffdc76;
  color: #26333c;
}

.strike__head {
  width: 6px;
}

.menu__item__orange a:hover {
  background-color: #ffdc76;
}

.menu__item__orange {
  position: relative;
  z-index: 3;
}

.menu__item__orange:after {
  content: "";
  position: absolute;
  background-color: #ffdc76;
  height: 100%;
  left: 100%;
  bottom: 0;
  z-index: 1;
  right: -10000%;
  top: 0;
}
.logo{
  height: 80%;
  margin-top: 8px;
}

.logo__svg {
  height: 100%;
  width: 100%;
}

.adress {
  display: flex;
  margin-left: 40px;
}
.phone {
  display: flex;
}
.head__img {
  height: 40%;
  margin-top: 45%;
}
.name__logo__top {
  font-size: 66%;
  color: #3251d2;

  margin-bottom: 5px;
}

.name__logo__arrow {
  width: 90%;
  margin: auto 0;
  display: block;
  margin-left: 10px;
}

.adress__adress-time {
  color: #b30000;
  font-size: 70%;
  margin-top: 10%;
}

.adress__adress-street {
  color: #26333c;
  font-size: 90%;
}

.phone__contacts-text {
  margin-top: 18%;
  color: #b30000;
  font-size: 70%;
}

.phone__contacts-number {
  font-size: 90%;
}

.center__play{
  position: absolute;
  background-color: #ffdc76;
  padding: 17px 17px 17px 20px;
  margin-left: 80px;
  width: 50px;
  margin-top: -26px;
  box-shadow:9px 6px 20px 0px rgba(0,0,0,0.23);
-webkit-box-shadow:9px 6px 20px 0px rgba(0,0,0,0.23);
-moz-box-shadow:9px 6px 20px 0px rgba(0,0,0,0.23);
}


.contacts {
  background-color: rgb(255, 255, 255);
  text-align: center;
  display: block;
  justify-content: center;
}

.contacts .col-12 {
  padding: 0;
  margin: 0;
}

.name__logo {
  margin: 10px 0;
  height: 50%;
  justify-content: center;
  display: block;
  text-align: center;
}
.messengers__block__header{
  margin: auto;
}
.massengers__icon img {
  padding: 5%;
  background-color: #f0f0f0;
  opacity: 0.8;
}

.messengers__img {
  width: 25%;
}
.messengers__img-1 {
  width: 30.99%;
}
.grey__head {
  background-color: #eef3f5;
  width: 100%;
  height: 10px;
}

/********adventure**************/

.adventure {
  background: url(../img/back__picture.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
}

.adventure-content {
  height: 650px;
}

.adventure__left_top {
  background-color: rgba(60, 85, 205, 0.5);
  max-width: 100% !important;
}

.adventure__left_top:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(60, 85, 205, 0.5);
  margin-left: -100%;
  top: 0;
}

.adventure__left__bottom {
  max-width: 100% !important;
}

.adventure__center__top {
  max-width: 100% !important;
}

.adventure__center__bottom-1 {
  font-size: 30px;
  font-family: "Gilroy-ExtraBold";
  color: white;
  margin-left: 45px;
  margin-top: 70px;
  margin-bottom: 5px;
}
.adventure__center__bottom-2 {
  font-family: "Gilroy-light";
  color: white;
  margin-left: 45px;
  font-size: 30px;
  margin-bottom: 0;
}

.adventure__center__bottom-3 {
  color: white;
  font-size: 15px;
  margin-left: 45px;
  font-family: "Gilroy-light";
}

.adventure__right__text-1 {
  color: white;
  font-size: 23px;
  font-family: "Gilroy-ExtraBold";
  margin-bottom: 0;
  margin-top: 80px;
  margin-left: 50px;
}
.adventure__right__text-2 {
  color: white;
  font-family: "Gilroy-light";
  margin-bottom: 0;
  font-size: 23px;
  margin-left: 50px;
}
.adventure__center__bottom {
  background-color: rgba(60, 85, 205, 0.5);
}

.adventure__right-top {
  background-color: rgba(60, 85, 205, 0.5);
}

.adventure__right-top:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(60, 85, 205, 0.5);
  margin-left: 100%;
  top: 0;
}

.adventure__center__bottom,
.adventure__right-top,
.adventure__right-bottom {
  max-width: 100% !important;
}

.adventure_img {
  width: 250%;
  height: 325px;
}

.adventure__left__text_top-1 {
  color: white;
  font-family: "Gilroy-ExtraBold";
  font-size: 45px;
  margin-top: 33%;
}
.adventure__left__text_top-2 {
  color: white;
  font-family: "Gilroy-light";
  font-size: 45px;
}

.adventure__left__text_bottom-1 {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Gilroy-light";
  font-size: 20px;
  margin-top: 35px;
}
.adventure__left__text_bottom-2 {
  background-color: #ffdc76;
  color: #26333c;
  border: 1px solid #ffdc76;
  padding: 10px 25px;
  cursor: pointer;
}
.adventure__left__bottom,
.adventure__left_top,
.adventure__left,
.adventure__center,
.adventure__center__top,
.adventure__center__bottom,
.adventure__right,
.adventure__right-top,
.adventure__right-bottom {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

/*******INFORMATION****************/

.information {
  background-color: #eef3f5;
}

.information__cube {
  position: relative;
  border: 15px solid white;
  background-color: white;
  margin: 90px 0;
  width: 105px;
}

.information__old__header {
  font-family: "Gilroy-ExtraBold";
  color: #3251d2;
  font-size: 55px;
  white-space: nowrap;
}

.information__old__button {
  color: #1b172d;
  font-size: 20px;
  white-space: nowrap;
  font-family: "Gilroy-regular", sans-serif;
}

.information__clients__header {
  color: #3251d2;
  font-size: 55px;
  white-space: nowrap;
  font-family: "Gilroy-light";
}
.pc {
  width: 100%;
}
.tv {
  width: 100%;
}
.items {
  width: 100%;
}
.uslugi {
  width: 100%;
}

.buy__head {
  margin-bottom: 50px;
  font-weight: bold;
  font-family: "Gilroy-ExtraBold";
  font-size: 50px;
}
.buy__text {
  margin-bottom: 50px;
  font-size: 20px;
}
.buy__button a {
  text-decoration: none;
  border: 1px solid #ffdc76;
  color: #26333c;
  background-color: #ffdc76;
  padding: 20px 30px;
  font-size: 15px;
}
.buy__button:hover a {
  text-decoration: none;
  color: #26333c;
}
.buy__solid {
  margin-top: 80px;
  padding-top: 50px;
}

.buy__block-1:before {
  content: "";
  position: absolute;
  left: 0;
  margin-top: -50px;
  width: 100%;
  height: 3px;
  color: #eaf3f7;
  background-color: #eaf3f7;
}

.buy__block-2:before {
  content: "";
  position: absolute;
  left: 0;
  margin-top: -50px;
  width: 100%;
  height: 3px;
  color: #eaf3f7;
  background-color: #eaf3f7;
}

.buy__solid .row {
  justify-content: space-between;
}

.buy__solid__finish {
  margin-bottom: 50px;
}

.footer__name {
  font-family: "Gilroy-Light";
  margin-bottom: 30px;
}
.footer_head {
  background-color: #3251d2;
  width: 100%;
  height: 50px;
}
.footer__name a {
  text-decoration: none;
  color: #889bec;
  font-size: 25px;
}
.footer__name:hover a {
  text-decoration: none;
  color: #889bec;
  font-size: 25px;
}

.footer_button {
  background-color: #3959e0;
}

.number a,.number a:active, .number a:hover {
  color: white;
  font-size: 19px;
  background-color: #3959e0;
}
.number__text {
  color: #889bec;
  font-size: 10px;
}

.tel,
.street,
.mail {
  margin-top: -20px;
  padding-bottom: 15px;
}
.messengers__button {
  margin-top: -20px;
  padding-bottom: 10px;
}
.footer__img_tel {
  width: 25px;
  margin-right: 10px;
}
.number {
  margin-top: -10px;
}
.footer_button .row {
  justify-content: space-between;
}

.fot_mass {
  margin: 0 5px;
}
.fot__mass_img {
  width: 50px;
  height: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
.footer__telephone a {
  border: 1px solid #3251d2;
  background-color: #3251d2;
  padding-bottom: 10px;
  padding: 0 10px;
}
